$primary-color:#fe6700;
$secondary-color:#000;
$body-color:#f3f4f6;
$heading-color:#333333;
$color-red:#ff514e;
// $color-green:#bba1d0; //yoga
// $color-green:#a27cbd; //beauty
// $color-green:#2fb271; //fitness
// $color-green:#c3696b; //recipie
$color-green:#4ec3ea; //mytips
$color-white:#fff;
$color-gray:#909090;