<ion-header class="comments">
    <ion-grid>
        <ion-row navPop>
            <ion-col col-1>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </ion-col>
            <ion-col col-6 class="commentsHeading">
                <h4 class="comm">Comments</h4>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content padding class="login sample-modal-page">
    <div class="comment" *ngFor="let comment of comments">
        <div class="comment-wrap">
            <div class="photo">
                <div class="avatar">
                    <img src="{{comment.user.image ? comment.user.image : 'assets/images/1.png'}}">
                </div>
            </div>
            <div class="comment-block">
                <h4 class="Username">{{comment.user.firstName}}</h4>
                <p class="comment-text">{{comment.commentText}}</p>
                <ion-grid>
                    <ion-row>
                        <span>{{changeDate(comment.createdAt)}}</span>
                        <span>Likes</span>
                        <span (click)="presentProfileModal(comment.id, comment.replyComments)">Reply</span>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="replyCommentBox" *ngIf="comment.replyComments.length != 0">
            <div class="comment-wrap replyComment" *ngFor="let replyComment of comment.replyComments">
                <div class="photo" (click)="presentProfileModal(comment.id, comment.replyComments)">
                    <div class="avatar">
                        <img src="{{comment.user.image ? comment.user.image : 'assets/images/1.png'}}">
                    </div>
                </div>
                <div class="comment-block">
                    <div (click)="presentProfileModal(comment.id, comment.replyComments)">
                        <h4 class="Username">{{replyComment.user.firstName}}</h4>
                        <p class="comment-text">{{replyComment.commentText}}</p>
                    </div>
                    <ion-grid>
                        <ion-row>
                            <span>{{changeDate(replyComment.created_at)}}</span>
                            <span>Likes</span>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>

    </div>

</ion-content>
<ion-footer>
    <input #focusInputf type="text" name="comment" [(ngModel)]="comment.commentText" placeholder="write a comment">
    <ion-icon (click)="comment.commentText!='' && addComments(comment.commentText)" class="send" (keyup.enter)="commentBox()" ios="ios-send" md="md-send"></ion-icon>
</ion-footer>